<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <title>Home</title>
</head>
<body>
    <div class="nav_bar">
        <ul>
            <li><a href="#home">Home</a></li>
            <li><a href="#projects">Projects</a></li>
            <li><a href="#hobbies">Hobbies</a></li>
        </ul>
    </div>
    <div class="the-grid">
        <div class="left-column">
            <img src="Tevyn_at_Nanakita_River.jpg" alt="Tevyn relaxing at Nanakita River Sendai">
            <h1>Tevyn Payne</h1>
            <p><i class="fa fa-briefcase fa-fw "></i>Software Engineer</p>
            <p><i class="fa fa-home fa-fw "></i>Euless, TX</p>
            <i class="fa fa-envelope fa-fw "></i><a href="mailto:tevyn.payne@gmail.com">Gmail</a>
            <p><i class="fa fa-phone fa-fw "></i>(469)957-8480</p>
            <hr>
            <h3>Information Technology Competencies</h3>
            <p><b>Systems: </b>Windows PC, Android</p>
            <p><b>Databases: </b>MySQL, Relational Databases</p>
            <p><b>Languages: </b>C++,Pyton, JavaScript, SQL HTML, CSS, Angular</p>
            <p><b>Software: </b>Visual Studio Code, MS Office 365, PyCharm</p>
            <p><b>Certifications: </b>Frontend Development</p>
        </div>
        <div class="right-column">
            <div class="work">
                <h2><i class="fa fa-suitcase fa-fw"></i>Work Experience</h2>
                <h3>Sales Assistant | NEXCO Highway Solutions of America Inc.</h3>
                <h4><i class="fa-regular fa-calendar-days fa-fw"></i>Sept 2024 - Jan 2025</h4>
                <ul>
                    <li>Present Project Initiation meeting with city government officials</li>
                    <li>Organize and optimize CRM Database</li>
                    <li>Create initial point of contact for city officials</li>
                    <li>Redesign of the company website</li>
                </ul>
                <hr>
                <h3>Intern | J.P. Morgan Software Engineering Virtual Experience on Forage</h3>
                <h4><i class="fa-regular fa-calendar-days fa-fw"></i>March 2024</h4>
                <ul>
                    <li>Set up a local dev environment by downloading the necessary files, tools and dependencies.</li>
                    <li>Fixed broken files in the repository to make web application output correctly.</li>
                    <li>Used JPMorgan Chase’s open-source library called Perspective to generate a live graph that displays a data feed in a clear and visually appealing way for traders to monitor.</li>
                </ul>
                <hr>
                <h3>Intern | Electronic Arts Software Engineering Virtual Experience on Forage</h3>
                <h4><i class="fa-regular fa-calendar-days fa-fw"></i>February 2024</h4>
                <ul>
                    <li>Proposed a new feature for The Sims 4 and wrote a Feature Proposal describing it to other stakeholders.</li>
                    <li>Built a class diagram and created a header file in C++ with class definitions for each object.</li>
                    <li>Patched a bugfix and optimized the Sims 4 codebase by implementing an improved data structure.</li>
                </ul>
                <hr>
                <h3>Department Manager | Albertsons</h3>
                <h4><i class="fa-regular fa-calendar-days fa-fw"></i>September 2023 - September 2024</h4>
                <ul>
                    <li>Managed Inventory assets, ordering and updating the online management system</li>
                    <li>Collaborated and assisted other staff in daily routine checks and duties</li>
                </ul>
                <hr>
                <h3>Academic Assistant | Shepherd School of Language</h3>
                <h4><i class="fa-regular fa-calendar-days fa-fw"></i>April 2021 - September 2023</h4>
                <ul>
                    <li>Offered guidance and training in classroom protocol, lesson plan development, and effective class management</li>
                    <li>Served as a substitute teacher and assumed administrative duties</li>
                    <li>Provided instruction and coaching to students at different English abilities, from beginner to proficient, demonstrating a versatile coaching style</li>
                </ul>
                <hr>
                <h3>Assistant Language Teacher | Japan Exchange and Teaching (JET) Program</h3>
                <h4><i class="fa-regular fa-calendar-days fa-fw"></i>August 2018 - August 2021</h4>
                <ul>
                    <li>Planned, developed materials and taught students from elementary, junior high and high school</li>
                    <li>Hosted and facilitated cultural exchanges and language exchanges for English/Japanese language exchange</li> 
                    <li>Utilized effective communication skills to ensure understanding of the English language</li>
                </ul>
            </div>

            <div class="education">
                <h2><i class="fa-solid fa-user-graduate fa-beat fa-fw"></i>Education</h2>
                <h3><i class="fa-solid fa-graduation-cap fa-fw"></i>Florida State University | Graduated August 2018</h3>
                <h4>Bachelor of Art | Japanese Language, Culture and History</h4>
                <ul>
                    <li>Studies focused on Japanese language and culture</li>
                    <li>Courses include Beginner/Intermediate/Advanced/Business Japanese, History of the Samurai, Anime and Pop Culture history, and Japanese Tea Ceremony</li>
                </ul>
                <h4>Minor: Computer Science</h4>
                <ul>
                    <li>Object Oriented Programming in C++ (3014 Beginner/3330 Intermediate)</li>
                </ul>
                <hr>
                <h3>Western Governors University | Anticipated February 2026</h3>
                <h4>Bachelor of Science | Software Engineering</h4>
                <ul>
                    <li>Studies focused on IT Foundations, Software Engineering fundamentals and Full-Stack programming</li>
                    <li>Courses include Data Management, Network and Security, Cloud foundations, UX/UI Design, Java, Python and Web development</li>
                </ul>
            </div>

        </div>
    </div>
</body>
</html>